terraform-playground/.venv
terraform-playground/tf-key.json
terraform-playground/config.tfvars
terraform-playground/terraform/.terraform
terraform-playground/terraform/.terraform.lock.hcl
terraform-playground/terraform/.terraform.tfstate.lock.info
terraform-playground/terraform/terraform.tfstate
terraform-playground/terraform/terraform.tfstate.backup


## web app
# dependencies
terraform-playground/web/node_modules
terraform-playground/web/.pnp


# production
terraform-playground/web/build

## misc
.pnp.js
.DS_Store
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
